form {
    font-family: sans-serif;
    font-size: 1.3rem;
    width: 13rem;
    display: inline-block;
    padding: 7px 7px;
    border: 2px solid #3090c0;
    border-radius: 5px;
    margin: 1em;
}

.file-form {
    margin: 10px;
    padding-bottom: 0px;
    padidng-right: 0px;
    padding-top: 5px;
}

.file-form:hover {
    transform: scale(1.1);
}

input[type=file] {
    display: none;
}

.custom-file-upload {
    font-family: sans-serif;
    font-size: 1.3rem;
    padding-left: 3.5px;
    padding-top: 3px;
    display: block;
    text-align: center;
    width: 13rem;
    height: 2rem;
    color: #3090c0;
    cursor: pointer;
}

.buttons-dropdown {
    width: 21rem;
    display: inline-flex;
    border: none;
    padding: 7px 7px;
    margin: 1em;
}

.dropdown {
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid #60a8d8;
    border-radius: 5px;
    margin: 1em;
    display: inline-block;
    width: 14rem;
}

input[type=text] {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1rem;
    text-align: start;
    display: flex;
    min-width: 39rem;
    min-height: 2rem;
    outline: transparent;
    border: 2px solid #60a8d8;
    border-radius: 100px;
    padding: 10px;
}
