body {
    font: 20px "AppleGothic", Apple Gothic, sans-serif;
    /*background: #f0ffff;*/

    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}

form {
    font-family: sans-serif;
    font-size: 1.3rem;
    width: 13rem;
    display: inline-block;
    padding: 7px 7px;
    border: 2px solid #3090c0;
    border-radius: 5px;
    margin: 1em;
}

.top-block {
    border: none;
    display: inline-flex;
    width: 20rem;
    margin: 0px;
}

.list, .list-item {
    height: 39rem;
    width: 41rem;
    display: block;
    padding: 7px 7px;
    border: 2px solid #3090c0;
    border-radius: 5px;
}

.list-item {
    font-family: -apple-system, serif;
    font-size: 1rem;
    height: 2rem;
    max-width: 40rem;
    border: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
    display: flex;
}
