body {
    font: 20px "AppleGothic", Apple Gothic, sans-serif;
    /*background: #f0ffff;*/
    overflow: hidden;

    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}

form {
    font-family: sans-serif;
    font-size: 1.3rem;
    width: 13rem;
    display: inline-block;
    padding: 7px 7px;
    border: 2px solid #3090c0;
    border-radius: 5px;
    margin: 1em;
}

label {
    font-family: "PT Serif", serif;
    font-size: 1.3rem;
    padding-left: 15px;
}

.top-block {
    border: none;
    display: inline-flex;
    margin: 0px;
}

.list, .list-item {
    height: 40rem;
    width: 35rem;
    display: block;
    padding: 7px 7px;
    border: 2px solid #3090c0;
    border-radius: 5px;
}

.list-item {
    font-family: sans-serif;
    font-size: 1.25rem;
    height: 2.25rem;
    outline: 2px solid #3090c0;
}

.description {
    display: block;
    padding: 7px 7px;
    margin-left: 1em;
    margin-right: 1em;
}

.description label {
    font-size: 1.1rem;
    width: 20rem;
    height: 8rem;
    display: block;
    white-space: pre-wrap;
    border: 2px solid #184878;
    border-radius: 5px;
    padding: 7px 7px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
    display: flex;
}
