.sliders-div {
    border: none;
    display: inline;
}

.slider {
    font-family: "PT Serif", serif;
    font-size: 1.3rem;
    text-align: left;
    height: 8rem;
    display: block;
    padding: 7px 7px;
    margin-left: 0em;
    border: 2px solid #184878;
    border-radius: 5px;
}

.slider label {
    color: black;
    padding: 7px 7px;
    font-size: 1.3rem;
    display: inline-block;
    border: none;
    width: 9rem;
    height: 2rem;
    white-space: nowrap;
}

.slider-range {
    width: 7.7rem;
    display: inline-block;
}

input[type=range] {
    -webkit-appearance: none;
    width: 95%;
    height: 10px;
    border-radius: 5px;
    background: gray;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #184878;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
}

.buttons-dropdown {
    height: 40rem;
    display: block;
    border: none;
    margin: 0em;
}

.dropdown {
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid #60a8d8;
    border-radius: 5px;
    margin: 0em;
    display: block;
}

.save {
    font-family: sans-serif;
    font-size: 1.3rem;
    border: 2px solid #3090c0;
    border-radius: 5px;
    padding: 7px 7px;
    display: block;
    text-align: center;
    color: #3090c0;
    height: 3rem;
    margin-left: 0em;
}